name: Functions
on:
  push:
    branches:
      - master
    paths:
      - 'functions/**'
      - '.github/workflows/*functions*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          # Version Spec of the version to use in SemVer notation.
          # It also emits such aliases as lts, latest, nightly and canary builds
          # Examples: 12.x, 10.15.1, >=10.15.0, lts/Hydrogen, 16-nightly, latest, node

          # Have to use 16 with firebase-action, as of Oct '23
          # Updated to 22 with firebase-action, Nov '25
          node-version: '22'
      - run: cd functions && npm ci
      - run: cd functions && npm run build
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_SPARKPOST_API_KEY: ${{ secrets.SPARKPOST_API_KEY }}
          directory: functions
          file_name: .env
          fail_on_empty: false
          sort_keys: false
      - name: Deploy to firebase
        uses: w9jds/firebase-action@master
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          # FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        with:
          args: deploy --only functions --force
